@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Admin Home Page";
}

<center>	<h1>Welcome Admin!</h1>   </center>
<br>
<br>

<center>	<input type="button" class="btn btn-primary" value="Add Course" onclick="window.open('/Admin/adminCourseAdd','_self');" /> </center>

<br>
<br>

<center>   <input type="button" class="btn btn-primary" value="Update Course" onclick="window.open('/Admin/adminCourseUpdate','_self');"/> </center>

<br>
<br>
<br>

<center> <input type="button" class="btn btn-primary" value="Delete Course" onclick="window.open('/Admin/adminDeleteCourse','_self');"/> </center>
