@*@{
   ViewData["Title"] = "about";
}*@
<body>
        <div class="text-center">
            <h1> About Course Planner</h1>
        </div>

        <!--<h2> @ViewData["Title"]</h2>-->
        <div id="purpose">
            <h2 id="titleS"> Purpose</h2>
            <p>The purpose of this web-application is for students and their academic advisors to easily devise a career long academic plan. The student can work through a user friendly interface to drag and drop classes into their respective years and semesters, while the advisor can go in and edit, comment, or approve the plan.</p>
        </div>

        <div id="clients">
        <h2 id="titleS">Clients</h2>
        <ul>
            <li>Norm Krumpe</li>
            <li>Michael Stahr</li>
        </ul>
    </div>

    <div id="advisor">
        <h2 id="titleS">Advisor</h2>
        <ul>
            <li>Lynn Stahr</li>
        </ul>
    </div>

    <div id="teamOne">
        <h2 id="titleS">Team Members Fall 21</h2>
        <ul>
            <li>Xuanmin Mai</li>
            <li>Ben Hilger</li>
            <li>Xinrui Xie</li>
            <li>Lane Rizkallah</li>
            <li>Whit Wiedeman</li>
            <li>Sulmon Mahmood</li>
        </ul>
    </div>
    <div id="teamTwo">
        <h2 id="titleS">Team Members Spring 22</h2>
        <ul>
            <li>Tyler Albers</li>
            <li>Nick Perry</li>
            <li>Josh Crail</li>
            <li>Dylan Bailey</li>
        </ul>
    </div>

    <div id="technicalStack">
        <h2 id="titleS">Technical Stack</h2>
        <ul>
            <li>Language: HTML, CSS, JavaScript, C#, SQL</li>
            <li>Operating System: Ubuntu</li>
            <li>Server: Linux</li>
            <li>Full Stack Framework: .NET</li>
            <li>CSS Framework: Bootstrap</li>
            <li>Database: MySQL</li>
        </ul>
     </div>
</body>

<style>
    #titleS {
        text-align: center;
    }

    #purpose {
        border: solid;
        background: white;
    }

    #clients {
        border: solid;
        background: white;
    }

    #advisor {
        border: solid;
        background: white;
    }

    #teamOne {
        border: solid;
        background: white;
    }

    #teamTwo {
        border: solid;
        background: white;
    }

    #technicalStack {
        border: solid;
        background: white;
    }
</style>