
@section head{
    <style type="text/css">
        body {
            background-image: url('https://ceclnx01.cec.miamioh.edu/~crailjc/images/BentonFinal.png');
        }
    </style>
}


<div class="text-center">
    <button type="button" class="btn-lg my-2" style=" color: white; background-color:#c3142d" onclick="location.href='@Url.Action("CreatePlan", "Plan")'">Create a plan</button>
    <h3>Or</h3>
    <button type="button" class="btn-lg my-2" style=" color: white; background-color:#c3142d" onclick="location.href='@Url.Action("SelectPlan", "Plan")'">Select a plan</button>
</div>
